.vscode
*.pyc
**/*__pycache__
local_settings.py
node_modules
*.db
*.pid
*.log
.env
data/*
static/*
.venv/*
!.venv/.gitkeep
nginx/*
!nginx/log
!nginx/nginx.conf
.coverage
.python-version
*dist/
tmp*
db.sqlite3
