.vscode
*.pyc
**/*__pycache__
local_settings.py
node_modules
*.db
*.pid
*.log
.env
static/*
!static
data/*
!data
.venv/*
!.venv/.gitkeep
nginx/*
!nginx/nginx.conf
.coverage
.python-version
*dist/
tmp*
db.sqlite3