
{% extends "base.html" %}

{% load static %}

{% block meta %}
	<script src="{% static 'bft/scripts/jquery.uploadifive.js' %}" type="text/javascript"></script>
	<script src="{% static 'bft/scripts/jquery.form.js' %}" type="text/javascript"></script>
	<script type="text/javascript">{% include "inc/bftvars.js" %}</script>
	<script src="{% static 'bft/scripts/bft.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<div id="dialog" class="hide"></div>
	<div id="content-form" class="tabs">
		{% include "inc/form.html" %}
		<br style="clear: both" />
	</div>
{% endblock %}