<div id="feedback">
	<div class="handle"></div>
	<form action="#">
		<h1>Problems with {{ app_name }}?</h1>
		<p>
			Is your upload not working correctly?<br /> 
			Comments or suggestions?<br />
		</p>
		<p class="feedback-element">
			<label for="feedback-email">Email:</label>
			<input type="text" id="feedback-email" name="email" />
		</p>
		<p class="feedback-element">
			<label for="feedback-message">Message:</label>
			<textarea id="feedback-message" name="message"></textarea>
		</p>
		<p class="feedback-element feedback-submit">
			<input type="submit" class="submit right" value="Send" />
		</p>
	</form>
</div>
<div class="clear"><!-- --></div>