<form id="form-upload" action="{% url 'process' %}" method="post" enctype="multipart/form-data" class="hide">
	{% csrf_token %}
	<div id="steps-left">
		<div id="step-one">
			<label for="file-upload">
				<div class="section-title">
					<span class="text-xl">
						1&nbsp;<i class="fa-solid fa-file"></i>
					</span>
						Select up to 5 files to upload - <span class="bold">{{ upload_limit }}GB max</span>
				</div>
			</label>
			<input type="file" id="file-upload" name="file_upload" class="file" />
			<div id="upload-border" class="border">
				<!-- -->
			</div>
		</div>
		<div id="step-two">
			<div id="step-email" class="hide">
				<label for="email-address"><span class="text-xl">
					2
				</span>
					Please enter in your email address:</label>
				<div id="input-email"></div>
			</div>
			<div class="border hide">
				<!-- -->
			</div>
			<div id="info-message" class="hide">
				<label for="message">
					<div class="section-title">
						<div class="step-indicator text-xl">
							2
						</div>
						<div class="step-guide">
							Enter a detailed message about the file(s):<br/>(No links allowed)
						</div>
					</div>
					<textarea id="message" name="message">Test</textarea>
				</label>
			</div>
		</div>
		<div id="step-three">
			{% include "inc/captcha.html" %}
		</div>
	</div>
	<div id="steps-right-container">
		<div id="steps-right" class="links">
			<div id="links" class="hide">
				<div class="section-title"><i class="fa-solid fa-link text-xl"></i>Custom link(s) to your file(s)</div>
				<ul id="files"></ul>
			</div>
			<div id="step-four" class="hide">
				<div class="section-title"><span class="text-xl">4 <i class="fa-solid fa-user-group"></i></span> Enter your name and email address:</div>
				<div id="info-name">
					<div>
						<label for="first-name">First:</label>
						<input type="text" name="first_name" id="first-name" value="Parker" />
					</div>
					<div>
						<label for="last-name">Last:</label>
						<input type="text" name="last_name" id="last-name" value="Freestone" />
					</div>
					<br style="clear: both" />
				</div>
				<div id="info-email">
					<label for="email-address">Email:</label>
					<input type="text" name="email_address" id="email-address" class="email" value="parker.freestone@gmail.com" />
				</div>
			</div>
			<div id="step-five" class="hide">
				<div class="section-title">
					<span class="step-indicator text-xl">
						5
					</span>
					Enter the email address of the recipient:
				</div>
				<div id="recipients" class="addrecip">
					<div><label><input type="text" name="recipients" value="parker.freestone@gmail.com" /><span id="addrecip"><a href="#" class="addme">+ Add
Another</a></span></label></div>
				</div>
			</div>
			<div id="step-six" class="hide">
				<div class="section-title">
					<div class="step-indicator text-xl">
						6
					</div>
					<div class="step-guide">
						(Optional) To restrict access to your upload, specify a <span class="bold">recipient's</span> A-number below:
					</div>
					
				</div>
				<div id="anumbers" class="addrecip">
					<div><label><input type="text" name="anumbers" /><span id="addanum"><a href="#" class="addme">+ Add
									Another</a></span></label></div>
				</div>
			</div>
		</div>
		<div id="steps-submit">
			<input type="hidden" id="type" name="type" value="email" />
			<input type="hidden" id="flash-meta" name="flash_meta" value="" />
			<a id="submit" class="btn-email" href="">Submit Email</a>
			<a id="cancel" class="btn-cancel" href="/">Cancel</a>
		</div>
	</div>
	<br style="clear: both" />
</form>